/* ==============07 InlineBlockUse ===========*/
.container {
  /* 최대 width 같은걸 미리 지정할 때 좋음 */
  width: 800px;
}

.header {
  /* 내 상위요소에 100%로 지정해주세요 
    지금은 container가 부모이므로 800px이 됨*/
  width: 100%;
  height: 100px;
  background: aquamarine;
}

.left-menu {
  width: 20%;
  height: 400px;
  background: cornflowerblue;
  /* float : left 이 요소를 붕 띄워서 왼쪽으로 정렬 해주세요 */
  /* float: left; */

  /* inline-block 사용해서 가로로 배치해보자 */
  /* display:block 가로로 한 행을 다 차지해주세요 (div, p, h) */
  /* display:inliblock 내 크기만큼 차지해주세요 */
  display: inline-block;
  /* vertical-align = 상하정렬 위로 보낼거면 top 
     아래로 보낼거면 bottom 
     이거는 inline속성에만 적용이 가능함*/
  /* 글을 작성할 때 베이스라인 선이 존재하는데 박스옆에 베이스라인이 오면 
       베이스라인 위로 박스가 올라가려고 발작함 그래서 꺠지는거임
       그래서 vertical-align 정렬이 필요하다! */
  vertical-align: top;
}

.right {
  width: 80%;
  height: 400px;
  background: coral;
  /* float: left; */
  /* inline-block 사용해서 가로로 배치해보자 */
  display: inline-block;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  /* float 다음에 오는 요소에게 clear:both 해주면
    float로 발생하는 이상한 현상 해결가능 */
  /* float:left를 썼다면 clear:left로 해주면 된다 */
  /* 앵간하면 clear:both씀 */
  /* clear: left; */
}
